<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!--localRepository>C:/Users/emenlig/.m2/repository</localRepository-->
	<servers>
		
		<server>
			<username></username>
			<password></password>
			<id>central</id>
		</server>
	</servers>
	<profiles>
	<profile>
		<repositories>
			
			<repository>
				<snapshots>
					<enabled>false</enabled>
				</snapshots>
				<id>central</id>
				<name>Maven Central Repo</name>
				<url>https://repo1.maven.org/maven2</url>
			</repository>
		</repositories>
		<pluginRepositories>
			
			<pluginRepository>
				<snapshots>
					<enabled>false</enabled>
				</snapshots>
				<id>central</id>
				<name>Maven Central Repo</name>
				<url>https://repo1.maven.org/maven2</url>
			</pluginRepository>
		</pluginRepositories>
		<id>artifactory</id>
	</profile>
	<profile>
    <id>SUREFIRE-1588</id>
    <activation>
        <activeByDefault>true</activeByDefault>
    </activation>
    <properties>
        <argLine>-Djdk.net.URLClassPath.disableClassPathURLCheck=true</argLine>
    </properties>
    </profile>
</profiles>
<activeProfiles>
	<activeProfile>artifactory</activeProfile>
</activeProfiles>
</settings>
